<!DOCTYPE html>
    <head>
        <title>Etch-a-Sketch</title>
        <link rel="stylesheet" href="" type="text/css" />
    </head>
    <body>
        <h2>Controller</h2>
        <br>
        <h3>Commands</h3>
        <a href="/up/" type="button" class="btn">UP</a>
        <a href="/down/" type="button" class="btn">DOWN</a>
        <a href="/left/" type="button" class="btn">LEFT</a>
        <a href="/right/" type="button" class="btn">RIGHT</a>
        <a href="/clear/" type="button" class="btn">CLEAR</a>
    </body>
</html>
